/*imported _content.css*/

header {

         h1 {
             font-family: 'Anton', sans-serif;
	         font-size: 45px;
	         text-align: center;
			 margin-bottom:2px;
			 letter-spacing:4px;
			 font-weight: 900;
			 color:#222;
	         }
         p {
             text-align: center;
             font-size: 20px;
	         color: $accentColour;
	          margin-top:2px;
            }	

}

nav {   
		 
     a {
	     text-transform: uppercase;
		 text-decoration: none;
		 font-family: 'Oswald', sans-serif;
		 color: $primaryDark;
		 margin: 0 7px;
		 font-weight: 600;
		 }
		 
	 a:hover  {
	     
         @include askew(45deg);
         color: #e8e5e5;
		 
         }	 
		 
	 .logo-container {
	     float: left;
		 color: $primaryDark;
		 position: absoulte;
		 margin-top: 20px;
		 margin-left:20px;
		 }
		 
	 .log-in, .search {
         float: right;
		 }
	
    
     
	 
}	

main {
  
	 p {
         list-style-type: lower-greek;
	     li:hover { color: $accentColour;}
	     font-family: 'Oswald', sans-serif;   
	 }
	 
	 
	 
	 
}


figcaption {
    font-style: italic;
	font-family: 'Oswald', sans-serif;
}





