/*imported _content.css*/

 a:hover  {
	     
         @include askew(45deg);
         color: #e8e5e5;
		 
         }	 

nav {   
		 
     a {
	     text-transform: uppercase;
		 text-decoration: none;
		 font-family: 'Oswald', sans-serif;
		 color: $primaryDark;
		 margin: 0 7px;
		 font-weight: 600;
		 }
		 
	
		 
	 .logo-container {
	     float: left;
		 color: $primaryDark;
		 font-size: 25px;
		 position: absoulte;
		 margin-left:20px;
		 margin-top: -2px;
		 }
		 
	 .log-in, .search {
         float: right;
		 }
	
    
     
	 
}	

main {
    
  
	 p {
         list-style-type: lower-greek;
	     li:hover { color: $accentColour;}
	     font-family: 'Oswald', sans-serif;   
	 }
	 
	 

		  
	 
	 
}
 .mar-img {
       
	   padding: 20px 80px;
	     }
	     

.background-icon-1 {
		 background: linear-gradient( rgba(20,20, 0.2, 0.2), rgba(20,20, 0.2, 0.2) ),
         url('../img/mar-1.jpg');
         background-position: 50% 50%;
         background-repeat: no-repeat;
          -webkit-background-size:cover;
          -moz-background-size:cover;
          background-size:cover;
		  
		 }
		 
.background-icon-2 {
		 background: linear-gradient( rgba(20,20, 0.2, 0.2), rgba(20,20, 0.2, 0.2) ),
         url('../img/mar-1.jpeg');
         background-position: 50% 50%;
         background-repeat: no-repeat;
          -webkit-background-size:cover;
          -moz-background-size:cover;
          background-size:cover;
		  
		 }

.background-icon-3 {
		 background: linear-gradient( rgba(20,20, 0.2, 0.2), rgba(20,20, 0.2, 0.2) ),
         url('../img/marvel.png');
         background-position: 50% 50%;
         background-repeat: no-repeat;
          -webkit-background-size:cover;
          -moz-background-size:cover;
          background-size:cover;
		  
		 }


figcaption {
    font-style: italic;
	font-family: 'Oswald', sans-serif;
}





