/*imported _footer.css*/

.footer-list {
         a {
         text-transform: uppercase;
		 text-decoration: none;
		 font-family: 'Oswald', sans-serif;
		 color: $primaryDark;
		 margin: 0 7px;
		 font-weight: 600;
		 }
	 
	 }