/*imported _variables.css*/

$primaryColour: #581845 ;
$primaryLight: #ada6a6;
$primaryDark: #800000;
$accentColour: #e8e5e5;
$headerHeight: 1.2em;
$navbarHeight: 1.2em;
$footerHeight: 1.2em;


@mixin askew($deg) {
	-ms-transform: rotate($deg); /*IE9*/
	-webkit-transform: rotate; /*Chrome, Sefari */
	transform: rotate($deg);
}



@mixin showbox() {
        border: 1px dotted $primaryColour;
		}