/*imported _wrapper.css*/


body {
     margin:0 auto;
	 padding:20px 80px;
	 background: linear-gradient( rgba(20,20, 20, 0.2), rgba(20,20, 20, 0.2) );
     background-color: #1f0404;
	// overflow-x: hidden;
	 
	
     }

Nav {
     margin:0 auto;
	 padding:20px 80px;
     top: $headerHeight;
     height: $navbarHeight;	 
	 @include showbox();
	 //&:hover { @include askew(90deg);}
	}

main {
     //overflow-x: visible;
     //width: 90%;
	 
	 background: #57535f;
	 overflow-y: auto;
	 top: $headerHeight + $navbarHeight;
	 
	 
     
	 @include showbox();
}	

figure { 
     header-img {
     padding: 0 50px;
	 margin: 0 20px;
	 }
}
	